<section class="hero-section">
  <div class="hero-content">
    <p class="greeting">{{ 'HERO.GREETING' | translate }}</p>
    <h1 class="name">Lusandre Marcano.</h1>
    <h2 class="subtitle">{{ 'HERO.SUBTITLE' | translate }}</h2>
    <p class="description">{{ 'HERO.DESC' | translate }}</p>
    <div class="actions">
      <a
        mat-raised-button
        color="primary"
        href="mailto:lusandremarcano@gmail.com"
        class="action-btn"
      >
        <mat-icon>mail</mat-icon> Contáctame
      </a>
      <a
        mat-stroked-button
        color="primary"
        href="https://github.com/Lusandre"
        target="_blank"
        class="action-btn"
      >
        Ver GitHub
      </a>

      <a
        mat-stroked-button
        color="accent"
        href="Lusandre_marcano_cv.pdf"
        download="Lusandre_marcano_cv.pdf"
        class="action-btn"
      >
        <mat-icon>picture_as_pdf</mat-icon> Descargar CV
      </a>
    </div>
  </div>
</section>
